{% extends 'accueil.twig' %}
{% block titre %}


<h2>Les meilleurs films</h2>
{% endblock %}
{% block content %}


<div class="d-flex flex-wrap justify-content-between">
    {% for film in films %}
    <div class="d-flex flex-column pt-5 pb-5">
        <a href={{"/annuaire-de-films/films/detail/"~film.id}}><img src="media/{{film.id}}.jpg" height="300px" width="202px"></a>
        <div class="d-flex align-items-stretch pt-2">
            {{ film.annee_de_sortie }}
            {{ film.Genre }}
        </div>
    </div>
    {% endfor %}
</div>

{% for detail in details %}
<img src="/annuaire-de-films/media/{{detail.id}}.jpg" height="300px" width="202px">
{{ detail.titre }}
{{ detail.annee_de_sortie }}
<a href={{"/annuaire-de-films/realisateurs/detail/"~realisateur.id}}>{{ detail.realisateur }}</a>
<a href={{"/annuaire-de-films/acteurs/detail/"~acteur.id}}>{{ detail.acteur }}</a>
{{ detail.description }}
{% endfor %}






{% endblock %}