{% extends 'accueil.twig' %}



{% block content %}

<a href="/annuaire-de-films/films/list">Accueil</a></br>

<select id="genre" onchange="location = this.value;">
    <option value="">--Choisissez un genre--</option>
    <option value="/annuaire-de-films/films/genre/1">Action</option>
    <option value="/annuaire-de-films/films/genre/2">Animation</option>
    <option value="/annuaire-de-films/films/genre/3">Aventure</option>
    <option value="/annuaire-de-films/films/genre/4">Biopic</option>
    <option value="/annuaire-de-films/films/genre/5">Comédie</option>
    <option value="/annuaire-de-films/films/genre/6">Drame</option>
    <option value="/annuaire-de-films/films/genre/7">Horreur</option>
    <option value="/annuaire-de-films/films/genre/8">Famille</option>
    <option value="/annuaire-de-films/films/genre/9">Fantastique</option>
    <option value="/annuaire-de-films/films/genre/10">Guerre</option>
    <option value="/annuaire-de-films/films/genre/11">Histoire</option>
    <option value="/annuaire-de-films/films/genre/12">Musical</option>
    <option value="/annuaire-de-films/films/genre/13">Policier</option>
    <option value="/annuaire-de-films/films/genre/14">Romance</option>
    <option value="/annuaire-de-films/films/genre/15">Science-fiction</option>
    <option value="/annuaire-de-films/films/genre/16">Thriller</option>
    <option value="/annuaire-de-films/films/genre/17">Western</option>
</select>
</br>

{% for film in films %}
    {{ film.titre }}
    {{ film.annee_de_sortie }}
    </br>
{% endfor %}

{% for detail in details %}
    {{ detail.titre }}
    {{ detail.annee_de_sortie }}
    </br>
{% endfor %}

{% for genre in genres %}
    {# {% if genre.titre != undefined %} #}
    
    {{ genre.titre }}
    {{ genre.annee_de_sortie }}
    </br>

    {# {% else %}
    {{"Il n'y as pas de films de ce genre"}}
    {% endif %} #}
        
{% endfor %}

{% endblock %}