{% extends 'accueil.twig' %}

{% block content %}

    {% if select %}
            <div class="p-3">
                <select class="select" id="genre" onchange="location = this.value;">
                    <option value="">--Choisissez un genre--</option>
                    <option value="/annuaire-de-films/films/genre/1">Action</option>
                    <option value="/annuaire-de-films/films/genre/2">Animation</option>
                    <option value="/annuaire-de-films/films/genre/3">Aventure</option>
                    <option value="/annuaire-de-films/films/genre/4">Biopic</option>
                    <option value="/annuaire-de-films/films/genre/5">Comédie</option>
                    <option value="/annuaire-de-films/films/genre/6">Drame</option>
                    <option value="/annuaire-de-films/films/genre/7">Horreur</option>
                    <option value="/annuaire-de-films/films/genre/8">Famille</option>
                    <option value="/annuaire-de-films/films/genre/9">Fantastique</option>
                    <option value="/annuaire-de-films/films/genre/10">Guerre</option>
                    <option value="/annuaire-de-films/films/genre/11">Histoire</option>
                    <option value="/annuaire-de-films/films/genre/12">Musical</option>
                    <option value="/annuaire-de-films/films/genre/13">Policier</option>
                    <option value="/annuaire-de-films/films/genre/14">Romance</option>
                    <option value="/annuaire-de-films/films/genre/15">Science-fiction</option>
                    <option value="/annuaire-de-films/films/genre/16">Thriller</option>
                    <option value="/annuaire-de-films/films/genre/17">Western</option>
                </select>
            </div>
{% block nav %}
    
      {% if isList %}
        		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse main-navigation" id="navbarNav">
				<ul class="navbar-nav">
					<li class="menu-item"><a class="nav-link disabled">Tri par année :<span class="sr-only">(current)</span></a></li>
					<li class="menu-item"><a class="nav-link" href="/annuaire-de-films/films/list/0/1">Croissant</a></li>
					<li class="menu-item"><a class="nav-link" href="/annuaire-de-films/films/list/0/0">Décroissant</a></li>
				</ul>
			</div>
		</nav>
        {% endif %}
{% endblock nav %}

        {% if isGenre %}
            <a href={{"/annuaire-de-films/films/genre/"~idGenre~"/1"}}>Croissant</a>
            <a href={{"/annuaire-de-films/films/genre/"~idGenre~"/0"}}>Décroissant</a>
        {% endif %}


    {% endif %}


                        {#Liste les films du genre sélectionner#}

    <div class="d-flex flex-wrap justify-content-around">
        {% for genre in genres %}
                <div class="d-flex flex-wrap flex-column pt-5 pb-5 pr-0 pr-sm-0 pr-md-5">
                    <a href={{"/annuaire-de-films/films/detail/"~genre.id}}><img src="media/{{genre.id}}.jpg" height="300px" width="202px"></a>
                        <div class="d-flex flex-column pt-2">
                            <div>
                            {{ genre.titre }}
                            {{ genre.annee_de_sortie }}
                            </div>
                                <div>
                                {% set genreids = genre.gr|split(',') %}
                                {% set genres = genre.genres|split(',') %}
                                {% for genreid in genreids %}
                                    <a href="/annuaire-de-films/films/genre/{{genreid}}">{{ genres[loop.index0] }}</a>
                                {% endfor %}
                                </div>
                        </div>
                </div>
        {% endfor %}
    </div> 


                                {#Liste tous les films /Accueil#}

    <div class="d-flex flex-wrap justify-content-around">
        {% for film in films %}
            <div class="d-flex flex-wrap flex-column p-4">
                <a href={{"/annuaire-de-films/films/detail/"~film.id}}><img src="media/{{film.id}}.jpg" height="300px" width="202px"></a>
                    <div class="pt-2">
                        <div>
                        {{ film.titre }}
                        </div>
                        <div>
                        {{ film.annee_de_sortie }}
                        </div>
                        <div>
                            {% set genreids = film.gr|split(',') %}
                            {% set genre = film.Genre|split(',') %}
                            {% for genreid in genreids %}
                                <a href="/annuaire-de-films/films/genre/{{genreid}}">{{ genre[loop.index0]~""}}</a>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>

                                {#Détails pour chaque film#}
    <div class="p-3">
        <div class="d-flex flex-row">
            {% for detail in details %}
                <img class="p-2" src="/annuaire-de-films/media/{{detail.id}}.jpg" height="300px" width="202px">
                <div class="d-flex flex-column pl-3">
                    <b class="films">{{ detail.titre }}</b>
                    <b class="pt-2">Sorti en : </b>{{ detail.annee_de_sortie }}
                    <b class="pt-2">Réalisateur : </b><a href={{"/annuaire-de-films/realisateurs/detail/"~detail.realid}}>{{ detail.realisateur }}</a>
                    <b class="pt-2">Acteurs : </b>
                    {% set acteur = detail.acteur|split(',') %}
                    {% set actids = detail.actid|split(',') %}
                    {% for actid in actids %}
                        <a href="/annuaire-de-films/acteurs/detail/{{actid}}">{{ acteur[loop.index0]~","}}</a>
                    {% endfor %}
                </div>
        </div>        
                <b>Synopsis : </b>{{ detail.description }}
                <b>Bande annonce : <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="{{ detail.bande_annonce|raw  }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endfor %} 
    </div>


   
</div>



{% endblock content %}
