{% extends 'accueil.twig' %}
{% block titre %}


<h2>Les meilleurs réalisateurs</h2>
{% endblock %}


{% block content %}

<div class="d-flex flex-wrap justify-content-between">
    {% for realisateur in realisateurs %}
    <div class="d-flex flex-column pt-5 pb-5">
        <a href={{"/annuaire-de-films/realisateurs/detail/"~realisateur.id}}><img src="/annuaire-de-films/media/photo-realisateur/{{realisateur.id}}.jpg"
                height="100px" width="80px"></a>
        <div class="d-flex align-items-stretch pt-2">
        </div>
    </div>
    {% endfor %}
</div>
{% for realisateur in realisateurs %}

{{ realisateur.realisateur }}
{{ realisateur.filmographie }}

{% endfor %}

{% for detail in details %}


<img src="/annuaire-de-films/media/photo-realisateur/{{detail.id}}.jpg" height="300px" width="202px">
{{ detail.realisateur }}
Né(e) le : {{ detail.jour_naissance }} {{ detail.mois_naissance }} {{ detail.annee_naissance }}
Lieu de naissance : {{ detail.lieu_naissance }}
Nationalité : {{ detail.nationalite }}
Biographie : {{ detail.biographie }}
Filmographie :
{% set filmids = detail.filmid|split(',') %}
{% set filmographie = detail.filmographie|split(',') %}
{% for filmid in filmids %}
<a href="/annuaire-de-films/films/detail/{{filmid}}">{{ filmographie[loop.index0]~""}}</a>
{% endfor %}

{% endfor %}

{% endblock %}