{% extends 'accueil.twig' %}
{% block titre %}

    <h2>Les meilleurs réalisateurs</h2>

{% endblock %}


{% block content %}
 
                    {# Liste les réalisateurs#}

    <div class="d-flex flex-wrap justify-content-start pt-3">
        {% for realisateur in realisateurs %}
            <div class="d-flex flex-column p-3">
                <a href={{"/annuaire-de-films/realisateurs/detail/"~realisateur.id}}><img src="/annuaire-de-films/media/photo-realisateur/{{realisateur.id}}.jpg"
                height="200px" width="150px"></a>
                <div class="pt-2">
                    {{ realisateur.realisateur }}
                </div>
            </div>
        {% endfor %}
    </div>


                            {# Détails pour chaque réalisateur #}
                            {% for detail in details %}
<img src="/annuaire-de-films/media/photo-realisateur/{{detail.id}}.jpg" height="300px" width="202px">
{{ detail.realisateur }}
Né(e) le : {{ detail.jour_naissance }} {{ detail.mois_naissance }} {{ detail.annee_naissance }}
Lieu de naissance : {{ detail.lieu_naissance }}
Nationalité : {{ detail.nationalite }}
Biographie : {{ detail.biographie }}
Filmographie :
{% set filmids = detail.filmid|split(',') %}
{% set filmographie = detail.filmographie|split(',') %}
{% for filmid in filmids %}
<a href="/annuaire-de-films/films/detail/{{filmid}}">{{ filmographie[loop.index0]~""}}</a>
{% endfor %}

{% endfor %}

{% endblock %}